<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <version>1</version>
        <revision>0</revision>
        <lastUpdate>2026-05-15</lastUpdate>
        <specialCode>Z0</specialCode>
    </metadata>
    <networkInterfaces>
        <interface name="eth0" role="field">
            <enabled>true</enabled>
            <mode>static</mode>
            <ipAddress>192.168.0.100</ipAddress>
            <netmask>255.255.255.0</netmask>
            <gateway>192.168.0.1</gateway>
        </interface>

        <interface name="eth1" role="service">
            <enabled>true</enabled>
            <mode>static</mode>
            <ipAddress>192.168.1.100</ipAddress>
            <netmask>255.255.255.0</netmask>
            <gateway></gateway>
        </interface>
    </networkInterfaces>

    <rs485>
        <device>/dev/ttymxc1</device>
        <baudRate>9600</baudRate>
        <dataBits>8</dataBits>
        <parity>none</parity>
        <stopBits>1</stopBits>
    </rs485>
</config>
