[Unit]
Description=SmartRoute Gateway
After=network.target

[Service]
ExecStart=/usr/bin/swr
WorkingDirectory=/etc/swr
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
